body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}
main {
    max-width: 70%;
    margin: 100px auto;
}
section {
    padding-top: 80px;
}
h1 {
    display: inline;
    font-size: 48px;
    font-style: italic;
    font-weight: 200;
    line-height: 50px;
}
h2 {
    text-align: center;
}
#header {
    align-items: center;
    background-color: #00BCD4;
    display: flex;
    height: 80px;
    margin-left: -8px;
    position: fixed;
    top: 0px;
    width: 100%;
}
#header-img {
    color: white;
    display: inline-block;
    vertical-align: text-bottom;
}
.material-icons.md-48 { 
    font-size: 48px; 
}
#nav-bar {
    display: flex;
    margin-left: auto;
}
#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-bar li {
    float: right;
    margin: 10px 11px 11px 10px;
}

#nav-bar li a {
    color: black;
    display: block;
    padding: 8px;
    text-decoration: none;
}
#nav-bar li a:hover {
    background-color: #B2EBF2;
    border: 1px solid #B2EBF2;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(222, 222, 222, 0.6);
    margin: -1px; 
}
#email {
    display: block;
    margin: auto;
    font-size: 0.8em;
}
button {
    background-color: #0097A7;
    border: 1.5px solid black;
    border-radius: 8px;
    color: white;
    display: block;
    font-size: 0.8em;
    margin: auto;
}
button:hover {
    background-color: #FFEB3B;
    color: black;
    cursor: pointer;
}
#submit {
    margin: 10px auto;
    padding: 8px;
}
h3 {
    display: inline-block;
}
.h3-img {
    display: inline-block;
}
iframe {
    display: block;
    margin: auto;
}
#purchase-box-container {
    display: inline-flex;
    flex-direction: row;
    height: 448px;
    justify-content: center;
}
.purchase-box {
    height: 400px;
    margin: 24px 2.5% 24px 2.5%;
    text-align: center;
    width: 33%;
}
/*.purchase-box:hover {
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 23px;
}*/
.purchase-box-title {
    font-size: 24px;
    height: 15%;
    padding-top: 24px;
}
.purchase-box-subtitle {
    font-size: 24px;
    height: 10%;
    padding-top: 14px;
    padding-bottom: 24px;
}
.purchase-box-body {
    font-size: 16px;
    height: 50%;
}
.purchase-box-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.purchase-box-body li {
    padding: 8px;
}
.product-select {
    display: flex;
    justify-content: center;
    margin: 14px auto;
    padding: 8px;
}
.product-select-container {
    height: 30%;
}
footer {
    background-color: #00BCD4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100px;
    margin: 0px -8px -8px -8px;
}