body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}
main {
    max-width: 70%;
    margin: 100px auto;
}
section {
    padding-top: 60px;
}
h1 {
    color: white;
    display: inline;
    font-family: "Audiowide", serif;
    font-size: 2.5em;
    letter-spacing: 2px;
    line-height: 50px;
    text-shadow: 2px 2px #006064;
}
h2 {
    text-align: center;
}
#header {
    align-items: center;
    background-color: #00BCD4;
    display: flex;
    height: 80px;
    margin-left: -8px;
    position: fixed;
    top: 0px;
    width: 100%;
}
#header-img {
    color: white;
    display: inline-block;
    margin-right: 10px;
    padding-right: 0px;
    vertical-align: text-bottom;
}
.material-icons.md-48 { 
    font-size: 2.5em;
    margin-right: 40px; 
    padding: 24px;
    vertical-align: top;
}
#nav-bar {
    display: flex;
    margin-left: auto;
}
#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#nav-bar li {
    float: right;
}
#nav-bar li a {
    color: black;
    display: block;
    padding: .8vw .8vw .8vw .8vw;
    text-decoration: none;
}
#nav-bar li a:hover {
    background-color: #B2EBF2;
    border: 1px solid #B2EBF2;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(222, 222, 222, 0.6);
    margin: -1px; 
}
#email {
    display: block;
    margin: auto;
    font-size: 0.8em;
}
button {
    background-color: #0097A7;
    border: 1.5px solid black;
    border-radius: 8px;
    color: white;
    display: block;
    font-size: 0.8em;
    margin: auto;
}
button:hover {
    background-color: #FFEB3B;
    color: black;
    cursor: pointer;
}
#submit {
    margin: 10px auto;
    padding: 8px;
}
.h3-img {
    display: inline-block;
}
.h3-block {
    display: inline-block;
    max-width: 80%;
}
iframe {
    display: block;
    margin: auto;
}
#purchase-box-container {
    display: inline-flex;
    flex-direction: row;
    height: 448px;
    justify-content: center;
}
.purchase-box {
    height: 400px;
    margin: 24px 2.5% 24px 2.5%;
    text-align: center;
    width: 33%;
}
/*.purchase-box:hover {
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 23px;
}*/
.purchase-box-title {
    font-size: 1.2em;
    height: 15%;
    padding-top: 24px;
}
.purchase-box-subtitle {
    font-size: 1.2em;
    height: 10%;
    padding-top: 14px;
    padding-bottom: 24px;
}
.purchase-box-body {
    font-size: .8em;
    height: 50%;
}
.purchase-box-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.purchase-box-body li {
    padding: 8px;
}
.product-select {
    display: flex;
    justify-content: center;
    margin: 14px auto;
    padding: 8px;
}
.product-select-container {
    height: 30%;
}
footer {
    background-color: #00BCD4;
    height: 100px;
    margin: 0px -8px -8px -8px;
    text-align: right;
    vertical-align: bottom;
}
#footer-content {
    margin: 10px 20px 0px 0px;
    text-align: right;
}
#footer-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
}
#footer-nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#footer-nav-bar li {
    float: right;
    margin: 10px 12px 8px 10px;
}
#footer-nav-bar li a {
    color: black;
    display: block;
    padding: 8px;
    text-decoration: none;
}
#footer-text {
    margin-right: 20px;
}
@media screen and (max-width: 950px) {
    body {
        font-size: 2vw;
    }
    h1 {
        font-size: 5vw;
    }
    #nav-bar {
        max-width: 30%;
    }
    #nav-bar li a {
        display: block;
    }
}